.login-page {
  @include page;

  .login-page-form {
    @include page-form;

    .login-page-form__title {
      @include page-form__title;
    }

    .login-page-form__error-message {
      width: 100%;
      padding: 0.75em;

      text-align: center;
      font-size: 0.875em;
      color: $sangria;

      border: 1px solid $sangria;
    }
  }
}
