.meal-types {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  font-size: 1.1rem;

  @include for-phone {
    height: 3.3em;
  }
}

.meal-types__modal-form {
  display: flex;
  flex-direction: column;

  .meal-types {
    .checkbox-wrapper {
      height: 3.75em;
    }
  }
}
