.create-event-page {
  @include page;

  .create-event-form {
    @include page-form;

    .create-event-form__title {
      @include page-form__title;
    }

    .create-event-form__host {
      display: flex;
      flex-direction: column;

      .create-event-form__host-title {
        @include select-title;
        margin-bottom: 0.25em;

        &::after {
          content: '*';

          position: relative;
          left: 1px;

          color: $sangria;
        }
      }
    }
  }
}
