.event {
  @include table-list;

  .event__participants {
    cursor: pointer;

    &.event__participants--dark {
      color: $lazur;
    }

    &.event__participants--light {
      color: $primary-color;
    }
  }
}
