.event {
  @include table-list;

  .event__participants {
    cursor: pointer;

    &.event__participants--populated {
      color: $lazur;
    }

    &.event__participants--empty {
      color: $primary-color;
    }
  }
}
