.settings-tile-record {
  display: grid;
  grid-template-columns: 13.5em 1fr auto;

  .settings-tile-record__label {
    margin-right: 0.75rem;
    color: $devil;
    text-transform: capitalize;
  }

  .settings-tile-record__label--bold {
    color: $carbon;
    font-weight: 700;
  }

  .settings-tile-record__value {
    display: flex;
    flex-direction: column;
    margin-right: 0.75rem;

    color: $carbon;
    word-break: break-word;

    &.link {
      width: fit-content;
      color: $primary-color;
    }
  }

  .settings-tile-record__btn {
    color: $dark-sea;

    user-select: none;

    cursor: pointer;
  }

  & + .settings-tile-record {
    margin-top: 1em;
  }

  @include for-large-phone {
    grid-template-columns: 1fr 1fr;
  }
}
