@mixin page {
  min-height: calc(100vh - ($navbar-height + $footer-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin page-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 25rem;
  gap: 1em;
}

@mixin page-form__title {
  margin-bottom: 0.75em;
  text-align: center;
}

@mixin table-list {
  display: grid;
  text-align: center;

  padding: 0.8em 0.5em;

  &:nth-child(odd) {
    background-color: $alabaster;
  }

  & > span:not(.actions) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      cursor: pointer;
      margin: 0 0.25em;
    }
  }
}

@mixin select-title {
  font-size: 1.1rem;
  font-weight: unset;
}
