$carbon: #333333;
$devil: #666666de;
$moon: #d8d8d8;
$snow: #ffffff;

$primary-color: #5bcaac;
$primary-color--light: #74e2c4;

$sangria: #9b0006;

$navbar-height: 4.375em;
$padding-to-navbar: 1.5em;
$footer-height: 2em;
$scroll-padding-top: calc($navbar-height + $padding-to-navbar);
